// @import "compass";

// .switcher {

//   // General
//   // -------------------------

//   display: inline-block;
//   font: normal 13px Verdana;


//   // Switch
//   // -------------------------

//   .switch {
//     @include border-radius(8px);
//     @include transition(border-color .2s);

//     position: relative;
//     display: inline-block;
//     width: 28px;
//     height: 14px;
//     overflow: hidden;
//   }


//   // Input
//   // -------------------------

//   input {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     width: 0;
//     height: 0;
//     opacity: 0;
//   }


//   // Label
//   // -------------------------

//   label {
//     font-size: 0;
//     cursor: pointer;

//     .label {
//       position: relative;
//       top: -2px;
//       font-size: 13px;
//     }

//     .switch + .label {
//       padding-left: 5px;
//     }

//     .label:not(:last-child) {
//       padding-right: 5px;
//     }
//   }


//   // Link
//   // -------------------------

//   a {
//     @include transition(left ease-in-out .2s, background-color ease-in-out .2s);

//     position: relative;
//     left: -14px;
//     display: block;
//     width: 42px;
//     height: 14px;
//     background-color: #b1b4b0;

//     i {
//       @include border-radius(8px);
//       position: absolute;
//       top: 1px;
//       left: 15px;
//       z-index: 3;
//       display: block;
//       width: 12px;
//       height: 12px;
//       font-style: normal;
//       background-color: #fff;
//     }
//   }

//   input:checked + label .switch a {
//     left: 0;
//     background-color: #809ead;
//   }

//   input[type="radio"]:checked + label {
//     cursor: default;
//   }

//   input:disabled + label {
//     cursor: default;

//     .switch {
//       background-color: #ececeb;

//       a {
//         display: none;
//       }
//     }
//   }
// }


// // Features
// // -------------------------

// // 100% width
// .chk-block .switcher {
//   display: block;

//   &:not(:last-child) {
//     margin-bottom: 10px;
//   }

//   label .label + .switch {
//     float: right;
//   }
// }

input.toggle-round {
  display:none;
}
input.toggle-round + label {
  display: block;
  position: relative;
  cursor: pointer;
}
input.toggle-round + label {
  padding: 1px;
  width: 50px;
  height: 25px;
  background-color: #ddd;
  border-radius: 50px;
  border: 1px solid #ccc;
}
input.toggle-round + label:after {
  display: block;
  position: absolute;
  content: "";
  width: 25px; height: 25px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 2px 3px #888;
  transition: margin 0.5s;
}
input.toggle-round:checked + label {
  background-color: lightblue;
}
input.toggle-round:checked + label:after {
  margin-left: 25px;
}
button{
  cursor: pointer;
  border-radius: 9px;
  padding: 10px;
  background-color: #2e3241;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  color: white;
  font-size: 15px;
  border: none;
}
select{
  cursor: pointer;
  border-radius: 9px;
  padding: 10px;
  background-color: #2e3241;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 15spx;
  border: none;
}
.heading{
  color: #6ccacb;
  font-size: 7vh;
}
.navbar{
  display: flex;
  justify-content: space-between;
}